In [63]:
import numpy as np
import pandas as pd
import os
import warnings 
warnings.filterwarnings("ignore")
os.chdir("C:\\Users\\sanat\\Downloads\\Downloads")

# import

In [64]:
df = pd.read_csv("UCI_Credit_Card.csv")

In [67]:
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,1,1,2,37,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,1,1,2,29,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,2,3,1,28,0,0,2,0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0
10,11,200000.0,2,3,2,34,0,0,2,0,...,2513.0,1828.0,3731.0,2306.0,12.0,50.0,300.0,3738.0,66.0,0
11,12,260000.0,2,1,2,51,-1,-1,-1,-1,...,8517.0,22287.0,13668.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,0
12,13,630000.0,2,2,2,41,-1,0,-1,-1,...,6500.0,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0
13,14,70000.0,1,2,2,30,1,2,2,0,...,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0,1
14,15,250000.0,1,1,2,29,0,0,0,0,...,59696.0,56875.0,55512.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,0
15,16,50000.0,2,3,3,23,1,2,0,0,...,28771.0,29531.0,30211.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,0
16,17,20000.0,1,1,2,24,0,0,2,2,...,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0,1
17,18,320000.0,1,1,1,49,0,0,0,-1,...,70074.0,5856.0,195599.0,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,0
18,19,360000.0,2,1,1,49,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,20,180000.0,2,1,2,29,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,21,130000.0,2,3,2,39,0,0,0,0,...,20616.0,11802.0,930.0,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,0
21,22,120000.0,2,2,1,39,-1,-1,-1,-1,...,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0,1
22,23,70000.0,2,2,2,26,2,0,0,2,...,44006.0,46905.0,46012.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0,1
23,24,450000.0,2,1,1,40,-2,-2,-2,-2,...,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,1
24,25,90000.0,1,1,2,23,0,0,0,-1,...,5398.0,6360.0,8292.0,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,0
25,26,50000.0,1,3,2,23,0,0,0,0,...,28967.0,29829.0,30046.0,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,0
26,27,60000.0,1,1,2,27,1,-2,-1,-1,...,-57.0,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1
27,28,50000.0,2,3,2,30,0,0,0,0,...,17878.0,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0
28,29,50000.0,2,3,1,47,-1,-1,-1,-1,...,2040.0,30430.0,257.0,3415.0,3421.0,2044.0,30430.0,257.0,0.0,0
29,30,50000.0,1,1,2,26,0,0,0,0,...,17907.0,18375.0,11400.0,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,29971,360000.0,1,1,1,34,-1,-1,-1,0,...,49005.0,8676.0,19487.0,52951.0,64535.0,8907.0,53.0,19584.0,16080.0,0
29971,29972,80000.0,1,3,1,36,0,0,0,0,...,69674.0,71070.0,73612.0,2395.0,2500.0,2530.0,2556.0,3700.0,3000.0,0
29972,29973,190000.0,1,1,1,37,0,0,0,0,...,29223.0,19616.0,148482.0,2000.0,3869.0,25128.0,10115.0,148482.0,4800.0,0
29973,29974,230000.0,1,2,1,35,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29974,29975,50000.0,1,2,1,37,1,2,2,2,...,2846.0,1585.0,1324.0,0.0,3000.0,0.0,0.0,1000.0,1000.0,1
29975,29976,220000.0,1,2,1,41,0,0,-1,-1,...,5924.0,1759.0,1824.0,8840.0,6643.0,5924.0,1759.0,1824.0,7022.0,0
29976,29977,40000.0,1,2,2,47,2,2,3,2,...,51259.0,47151.0,46934.0,4000.0,0.0,2000.0,0.0,3520.0,0.0,1
29977,29978,420000.0,1,1,2,34,0,0,0,0,...,141695.0,144839.0,147954.0,7000.0,7000.0,5500.0,5500.0,5600.0,5000.0,0
29978,29979,310000.0,1,2,1,39,0,0,0,0,...,219409.0,216540.0,210675.0,10029.0,9218.0,10029.0,8049.0,8040.0,10059.0,0
29979,29980,180000.0,1,1,1,32,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29980,29981,50000.0,1,3,2,42,0,0,0,0,...,50360.0,19971.0,19694.0,10000.0,4000.0,5000.0,3000.0,4500.0,2000.0,0
29981,29982,50000.0,1,2,1,44,1,2,2,2,...,28192.0,22676.0,14647.0,2300.0,1700.0,0.0,517.0,503.0,585.0,0
29982,29983,90000.0,1,2,1,36,0,0,0,0,...,11328.0,12036.0,14329.0,1500.0,1500.0,1500.0,1200.0,2500.0,0.0,1
29983,29984,20000.0,1,2,1,44,-2,-2,-2,-2,...,2882.0,9235.0,1719.0,2890.0,2720.0,2890.0,9263.0,1824.0,1701.0,0
29984,29985,30000.0,1,2,2,38,-1,-1,-2,-1,...,1993.0,1907.0,3319.0,923.0,2977.0,1999.0,3057.0,3319.0,1000.0,0
29985,29986,240000.0,1,1,2,30,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29986,29987,360000.0,1,1,2,35,-1,-1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29987,29988,130000.0,1,1,2,34,0,0,0,0,...,108047.0,93708.0,97353.0,3000.0,2000.0,93000.0,4000.0,5027.0,4005.0,0
29988,29989,250000.0,1,1,1,34,0,0,0,0,...,245750.0,175005.0,179687.0,65000.0,8800.0,9011.0,6000.0,7000.0,6009.0,0
29989,29990,150000.0,1,1,2,35,-1,-1,-1,-1,...,780.0,0.0,0.0,9054.0,0.0,783.0,0.0,0.0,0.0,0
29990,29991,140000.0,1,2,1,41,0,0,0,0,...,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0
29991,29992,210000.0,1,2,1,34,3,2,2,2,...,2500.0,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29992,29993,10000.0,1,3,1,43,0,0,0,-2,...,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0,0
29993,29994,100000.0,1,1,2,38,0,-1,-1,0,...,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0,0
29994,29995,80000.0,1,2,2,34,2,2,2,2,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [68]:
# garbage data
df["default.payment.next.month"].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [69]:
df.query('EDUCATION!=5 and EDUCATION!=6 and EDUCATION!=0', inplace=True)

In [70]:
df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
4      123
Name: EDUCATION, dtype: int64

In [71]:
df.shape

(29655, 25)

In [72]:
df["MARRIAGE"].value_counts()

2    15806
1    13477
3      318
0       54
Name: MARRIAGE, dtype: int64

In [73]:
df.query('MARRIAGE!=0', inplace=True)

In [74]:
df.shape

(29601, 25)

In [75]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

# EDA

In [76]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,...,29601.000000,29601.000000,29601.000000,29601.000000,2.960100e+04,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000
mean,14971.758927,167550.544914,1.603189,1.815479,1.555454,35.464072,-0.014932,-0.131313,-0.163440,-0.218303,...,43122.554204,40235.545184,38858.449816,5649.560319,5.894788e+03,5198.415898,4828.659268,4795.032735,5181.326374,0.223134
std,8660.184430,129944.020953,0.489244,0.710399,0.518092,9.213243,1.124503,1.199642,1.199793,1.172220,...,64196.383913,60699.344884,59519.893043,16568.264941,2.308919e+04,17580.914806,15711.057992,15244.217154,17657.260739,0.416355
min,1.000000,10000.000000,1.000000,1.000000,1.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7474.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1780.000000,1278.000000,1000.000000,8.250000e+02,390.000000,298.000000,259.000000,138.000000,0.000000
50%,14953.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19005.000000,18091.000000,17118.000000,2100.000000,2.007000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22463.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54271.000000,50072.000000,49121.000000,5005.000000,5.000000e+03,4500.000000,4014.000000,4042.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

# Crosstab, pivot, pairplot, class ratio

In [86]:
pd.crosstab(df['default.payment.next.month'],[df['SEX'],df['EDUCATION']])

SEX                            1                     2
EDUCATION                      1     2     3   4     1     2     3   4
default.payment.next.month
0                           3447  3965  1435  38  5098  6730  2205  78
1                            906  1408   543   4  1130  1921   690   3

In [59]:
##Pairplot
import seaborn as sns
sns.pairplot(df)

In [284]:
# class ratio
df["default.payment.next.month"].value_counts()

0    22996
1     6605
Name: default.payment.next.month, dtype: int64

# Label Encoding

In [18]:
# reset index
df = df.reset_index(drop=True)

In [19]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [20]:
encoder = ohe.fit_transform(df[["SEX","MARRIAGE","EDUCATION"]])

In [21]:
df1 = pd.DataFrame(encoder)
#1=graduate school, 2=university, 3=high school,

In [22]:
df1.columns = ["Male", "Female", "Married", "Single", "other_marriage_status","university", "graduateSchool" , "highSchool","otherSchooling"]

In [23]:
df1.head()

,Male,Female,Married,Single,other_marriage_status,university,graduateSchool,highSchool,otherSchooling
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [24]:
df1 = df1.reset_index(drop=True)

In [25]:
df1.shape

(29601, 9)

In [26]:
df.shape

(29601, 25)

In [27]:
df = df.drop(["SEX","MARRIAGE","EDUCATION"],1)

In [28]:
new_df = pd.concat([df1,df],axis = 1)

In [29]:
new_df

,Male,Female,Married,Single,other_marriage_status,university,graduateSchool,highSchool,otherSchooling,ID,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,5,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,7,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,8,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,9,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,10,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0
10,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,11,...,2513.0,1828.0,3731.0,2306.0,12.0,50.0,300.0,3738.0,66.0,0
11,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,12,...,8517.0,22287.0,13668.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,0
12,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,13,...,6500.0,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0
13,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,14,...,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0,1
14,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,15,...,59696.0,56875.0,55512.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,0
15,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,16,...,28771.0,29531.0,30211.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,0
16,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,17,...,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0,1
17,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,18,...,70074.0,5856.0,195599.0,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,0
18,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,21,...,20616.0,11802.0,930.0,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,0
21,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,22,...,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0,1
22,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,23,...,44006.0,46905.0,46012.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0,1
23,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,24,...,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,1
24,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,25,...,5398.0,6360.0,8292.0,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,0
25,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,26,...,28967.0,29829.0,30046.0,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,0
26,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,27,...,-57.0,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1
27,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,28,...,17878.0,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0
28,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,29,...,2040.0,30430.0,257.0,3415.0,3421.0,2044.0,30430.0,257.0,0.0,0
29,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,30,...,17907.0,18375.0,11400.0,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29571,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,29971,...,49005.0,8676.0,19487.0,52951.0,64535.0,8907.0,53.0,19584.0,16080.0,0
29572,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,29972,...,69674.0,71070.0,73612.0,2395.0,2500.0,2530.0,2556.0,3700.0,3000.0,0
29573,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,29973,...,29223.0,19616.0,148482.0,2000.0,3869.0,25128.0,10115.0,148482.0,4800.0,0
29574,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29974,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29575,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29975,...,2846.0,1585.0,1324.0,0.0,3000.0,0.0,0.0,1000.0,1000.0,1
29576,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29976,...,5924.0,1759.0,1824.0,8840.0,6643.0,5924.0,1759.0,1824.0,7022.0,0
29577,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,29977,...,51259.0,47151.0,46934.0,4000.0,0.0,2000.0,0.0,3520.0,0.0,1
29578,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,29978,...,141695.0,144839.0,147954.0,7000.0,7000.0,5500.0,5500.0,5600.0,5000.0,0
29579,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29979,...,219409.0,216540.0,210675.0,10029.0,9218.0,10029.0,8049.0,8040.0,10059.0,0
29580,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,29980,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29581,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,29981,...,50360.0,19971.0,19694.0,10000.0,4000.0,5000.0,3000.0,4500.0,2000.0,0
29582,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29982,...,28192.0,22676.0,14647.0,2300.0,1700.0,0.0,517.0,503.0,585.0,0
29583,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29983,...,11328.0,12036.0,14329.0,1500.0,1500.0,1500.0,1200.0,2500.0,0.0,1
29584,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29984,...,2882.0,9235.0,1719.0,2890.0,2720.0,2890.0,9263.0,1824.0,1701.0,0
29585,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,29985,...,1993.0,1907.0,3319.0,923.0,2977.0,1999.0,3057.0,3319.0,1000.0,0
29586,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,29986,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29587,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,29987,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29588,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,29988,...,108047.0,93708.0,97353.0,3000.0,2000.0,93000.0,4000.0,5027.0,4005.0,0
29589,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,29989,...,245750.0,175005.0,179687.0,65000.0,8800.0,9011.0,6000.0,7000.0,6009.0,0
29590,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,29990,...,780.0,0.0,0.0,9054.0,0.0,783.0,0.0,0.0,0.0,0
29591,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29991,...,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0
29592,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,29992,...,2500.0,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29593,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,29993,...,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0,0
29594,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,29994,...,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0,0
29595,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,29995,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1
29596,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,29996,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29597,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,29997,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29598,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,29998,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29599,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,29999,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29600,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,30000,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [30]:
new_df.columns

Index(['Male', 'Female', 'Married', 'Single', 'other_marriage_status',
       'university', 'graduateSchool', 'highSchool', 'otherSchooling', 'ID',
       'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default.payment.next.month'],
      dtype='object')

# SCALING

In [31]:
cols = new_df.columns
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scaled = scalar.fit_transform(new_df)

In [32]:
new_df = pd.DataFrame(scaled, columns=cols)

In [33]:
new_df.head()

,Male,Female,Married,Single,other_marriage_status,university,graduateSchool,highSchool,otherSchooling,ID,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,...,0.160138,0.080648,0.260979,0.000000,0.000409,0.000000,0.000000,0.000000,0.000000,1.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.000033,...,0.163220,0.084074,0.263485,0.000000,0.000594,0.001116,0.001610,0.000000,0.003783,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.000067,...,0.173637,0.095470,0.272928,0.001738,0.000891,0.001116,0.001610,0.002345,0.009458,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000100,...,0.186809,0.109363,0.283685,0.002290,0.001199,0.001339,0.001771,0.002506,0.001892,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000133,...,0.179863,0.099633,0.275681,0.002290,0.021779,0.011160,0.014493,0.001615,0.001284,0.0

# Modelling

In [34]:
X = df.drop(["ID","default.payment.next.month"],1)
y = df["default.payment.next.month"]

In [ ]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test = tts(X,y,random_state =40,test_size=0.30)
from sklearn.linear_model import LogisticRegression

In [53]:
# Logistic Regression 

from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score
lr = LogisticRegression(class_weight="balanced") 
lr.fit(X_train, y_train) 
y_pred = lr.predict(X_test)
accuracy_score(y_pred,y_test)

0.6205382276770633

In [54]:
from datetime import datetime
pre_log = precision_score(y_pred,y_test)
recall_log = recall_score(y_pred,y_test)
time_log = str(datetime.now())
LR_score = accuracy_score(y_pred,y_test)

In [55]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.61      0.87      0.71      4847
           1       0.67      0.32      0.44      4034

    accuracy                           0.62      8881
   macro avg       0.64      0.60      0.57      8881
weighted avg       0.64      0.62      0.59      8881

In [56]:
#-----------> Random Forest with GRID SEARCH
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
from sklearn.model_selection import GridSearchCV

param_grid = [{"n_estimators":[3,10,30], "max_features":[2,4]} #max features not greater than no.of features in dataset
              ,{"bootstrap": [False],"n_estimators":[3,10],"max_features":[2,3,4]},]
rfc = GridSearchCV(rfc,param_grid,cv=5,scoring="accuracy")
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
accuracy_score(y_pred,y_test)

0.8122959126224524

In [57]:
pre_RF = precision_score(y_pred,y_test)
recall_RF = recall_score(y_pred,y_test)
time_RF = str(datetime.now())
RF_score = accuracy_score(y_pred,y_test)

# Results

In [60]:
Model = ["Logistic Regression","Random Forest Classifier"]
#cross_val= [crossval_log,crossval_rf,crossval_knn,crossval_svc]
#matrix = [log_matrix,rf_matrix,knn_matrix,svc_matrix]
precision = [pre_log,pre_RF]
recall = [recall_log,recall_RF]
time = [time_log,time_RF]
score = [LR_score, RF_score]
report=pd.DataFrame({'TimeStamp':time,'Model': Model,'Precision': precision,'Recall': recall, "Accuracy": score})
report

,TimeStamp,Model,Precision,Recall,Accuracy
0,2019-09-16 15:51:16.111142,Logistic Regression,0.671311,0.322509,0.620538
1,2019-09-16 15:52:16.047865,Random Forest Classifier,0.377193,0.613770,0.812296